@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
	--white: hsl(0, 0%, 100%);
	--light-grey: hsl(212, 45%, 89%);
	--greyish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);

	font-size: 15px;
	font-family: "Outfit", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 4rem;
	background-color: #d5e1ef;
}

.card {
	background-color: hsl(0, 0%, 100%);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	border-radius: 0.825rem;
	width: 300px;
	padding: 1rem;
}

.card img {
	border-radius: 0.825rem;
	max-width: 100%;
	height: auto;
}

.card h1 {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5rem;
	text-align: center;
	color: #1f3251;
	font-family: "Outfit", sans-serif;
}

.card p {
	text-align: center;
	font-family: "Outfit", sans-serif;
	color: #7b879d;
	font-size: 1.12rem;
}
